body {
    font-family: 'Roboto', sans-serif;
}

.section-one,
.footer {
    background-color: #321f37;
    color: #faf8fa;
    display: flex;
}

.section-one {
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    font-size: 24px;
}

.header-link-list {
    margin-left: auto;
    padding: 0;
    list-style-type: none;
}

.header-link-list a {
    text-decoration: none;
    font-size: 18px;
    color: #e9e5eb;
}

.sec1-content {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.hero > .hero-main {
    font-size: 48px;
    font-weight: 900;
}

.hero > .hero-secondary {
    font-size: 18px;
    color: #e9e5eb;
}

.hero-button {
    background-color: #b438f6;
    color: #fff;

    padding: 10px;
}

/* Quote section */
.section-three {
    background-color: #e9e5eb;
    padding: 100px 130px;
}

.section-three > .quote {
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #321f37;
}

.section-three > .attribution {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

.footer {
    padding: 50px 120px;
    align-items: center;
    justify-content: center;
}